.classStream {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  & > div {
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
  }
  .classHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    div {
      position: relative;
      width: 100%;
      min-height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 20px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      h1 {
        align-self: flex-start;
        text-transform: uppercase;
        font-weight: bold;
        color: #f3f3f3;
        font-size: 36px;
      }
      h2 {
        margin-top: 5px;
        color: #f3f3f3;
        font-size: 24px;
      }
    }
  }
  .createPost {
    padding: 20px;
    margin: 20px 0px;
    .inputWrapper {
      border: 1px solid #d0d0d0;
      padding: 15px;
      margin-bottom: 15px;
      border-radius: 3px;
      .postTitleInput {
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
  .classPost {
    background-color: #ffffff;
    border: 1px solid #d0d0d0;
    border-radius: 8px;
    padding-top: 15px;
    margin-bottom: 25px;
    .postHeader {
      padding: 0 15px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      .postOwner {
        display: flex;
        .postMetadata {
          margin-left: 15px;
        }
      }
    }
    .postBody {
      padding: 0px 15px 20px 15px;
      border-bottom: 1px solid #d0d0d0;
      .postTitle {
        font-weight: bold;
      }
    }
    .postFooter {
      padding: 10px 15px;
      display: flex;
      align-items: center;
      & > div {
        margin-right: 10px;
      }
    }
  }
}
